:root {
  --bg: #0B1020;
  --text: #D4D4D4;
  --text2: #9795B5;
  --card: #111827;
  --borders: #ffffff1a;
  --social-media-bg: #F2F1FA;
  --buttons: #FFF;
  color-scheme: dark;
}

/* MAIN CONTENT */
.hero-section {
  display: flex;
  gap: 50px;
  margin-bottom: 60px;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin: 0;
}

.hero-content p {
  color: var(--text2);
  font-size: 0.90rem;
  line-height: 1.75rem;
  margin: 0;
}

.get-started-button {
  display: inline-block;
  background: linear-gradient(70deg, #9C93FF 0%, #5243FF 100%);
  width: fit-content;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  color: var(--buttons);
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-image {
  display: block;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  width: 400px;
  border-radius: 15px;
}

.latest-news {
  display: flex;
  flex-direction: column;
}

.latest-news h2 {
  margin: 0;
  font-size: 2rem;
}

.latest-news p {
  color: var(--text2);
  font-size: 0.90rem;
  margin: 0;
}

.news-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.news-card {
  background: var(--card);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  border: 1px solid var(--borders);
  width: calc(33.333% - 13.33px);
  transition: transform 0.3s;
}

.news-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.news-card img {
  width: 100%;
  height: 193.4px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  display: block;
  border: 1px solid rgba(255, 255, 255, .1);
}

/* RESPONSIVE CSS */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 0.95rem;
  }

  .hero-image {
    width: 80%;
    max-width: 500px;
    height: 300px;
  }

  .news-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .news-card {
    width: calc(50% - 10px);
  }

  .get-started-button {
    margin: auto;
  }
  
  .latest-news h2,
  .latest-news p,
  .latest-news h3{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.85rem;
    line-height: 1.6rem;
  }

  .hero-image {
    width: 90%;
    height: 250px;
  }

  .news-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.6rem;
  }

  .get-started-button {
    padding: 12px 20px;
    font-size: 0.85rem;
  }

  .news-card {
    padding: 15px;
  }

  .news-card img {
    height: 170px;
  }
}